<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="About">
	<p>
		This is a small form example, built with the extension <f:link.external uri="http://typo3-formz.com" title="FormZ website">FormZ</f:link.external> (version used: <strong>{formzVersion}</strong>).
	</p>

	<p>
		It contains some basic fields with their own validation rules; most of them are handled instantly with <strong>JavaScript</strong>, but the same rules also apply on the server-side with <strong>PHP</strong>.
	</p>

	<hr />

	<p>
		You can take a look at the code used by this extension to understand how it works and how easy it is to set up a new form:
	</p>

	<ul>
		<li>
			See the code on <f:link.external uri="https://github.com/romm/formz_example">GitHub&nbsp;<f:image src="EXT:formz_example/Resources/Public/Images/github-icon.png" width="16" alt="GitHub logo"/></f:link.external>
		</li>
		<li>
			See the extension on <f:link.external uri="https://typo3.org/extensions/repository/view/formz_example">the TER&nbsp;<f:image src="EXT:formz_example/Resources/Public/Images/typo3-icon.png" width="16" alt="TYPO3 logo"/></f:link.external>
		</li>
	</ul>

	<hr />

	<p>
		For more information, you can also read the documentation:
	</p>

	<ul>
		<li>Read the documentation on <f:link.external uri="https://docs.typo3.org/typo3cms/extensions/formz/">docs.typo3.org</f:link.external></li>
		<li>Read the <f:link.external uri="https://docs.typo3.org/typo3cms/extensions/formz/_pdf/" target="_blank">PDF version</f:link.external></li>
		<li>FormZ official website: <f:link.external uri="http://typo3-formz.com" title="FormZ website">typo3-formz.com&nbsp;<f:image src="EXT:formz_example/Resources/Public/Images/formz-icon@small.png" alt="FormZ logo" /></f:link.external></li>
	</ul>

</f:section>

</html>
